@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hiddenScroll::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  background: #fdfdfd;
}

::-webkit-scrollbar-thumb {
  background: #065e87;
  border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #054867;
}
